button.add_button {
    background: green;
    color: #fff;
    border: none;
    padding: 11px;
    border-radius: 4px;
}

.drop-zone {
    border: 2px dashed #ccc;
    width: 100%;
    margin: 20px 0px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .drop-zone-text {
    font-size: 18px;
    color: #888;
  }
  
  .file-upload-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropzone {
    position: relative;
}

.table_wrap {
    height: 500px;
    overflow-y: scroll;
}